<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.user.mapper.AccountMapper">

	<resultMap id="AccountMap" type="com.hdos.platform.base.user.model.AccountVO">
		<id column="USER_ACCOUNT" property="userAccount"/>
		<result column="PWD" property="pwd"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="SORT" property="sort"/>
	</resultMap>
	
	<sql id="Column_List">
		USER_ACCOUNT,PWD,USER_ID,STATUS,CREATE_TIME,UPDATE_TIME,SORT_NO
	</sql>

	<insert id="insert" parameterType="com.hdos.platform.base.user.model.AccountVO">
		insert into PUB_ACCOUNT (<include refid="Column_List" />)
		values (
		  #{userAccount},#{pwd},#{userId},0,#{createTime},#{updateTime},0
		)
	</insert>
	
	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_ACCOUNT  where USER_ID in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}  
		</foreach>
	</delete>

	<!-- 根据帐号和密码查询账户信息 -->
	<select id="queryAccountByAccountAndPwd" resultMap="AccountMap" parameterType="java.util.Map">
		select <include refid="Column_List" />
    	from PUB_ACCOUNT
    	where USER_ACCOUNT = #{userAccount} and PWD = #{pwd} 
	</select>
	
	<select id="unlock" resultType="com.hdos.platform.base.user.model.AccountVO" parameterType="java.lang.String">
		select <include refid="Column_List" />
    	from PUB_ACCOUNT
    	where USER_ID = #{1} and PWD = #{0} 
	</select>
	
	<select id="getUserIdByAccount" resultType="String" parameterType="String">
		select  USER_ID
    	from PUB_ACCOUNT
    	where USER_ACCOUNT = #{account}
	</select>
	
	<update id="update" parameterType="com.hdos.platform.base.user.model.AccountVO">
		update PUB_ACCOUNT
		<set>
			<if test="pwd != null">PWD = #{pwd}, </if>
			UPDATE_TIME = #{updateTime}
		</set>
		where USER_ID = #{userId}
	</update>

</mapper>
