<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.user.mapper.UserTokenMapper">
	
<sql id="Column_List">
TOKEN
,USER_ACCOUNT
,CREATE_TIME
</sql>
	
	<select id="getById" resultType="com.hdos.platform.base.user.model.UserTokenVO" parameterType="String">
		select <include refid="Column_List" />
    	from PUB_USER_TOKEN where TOKEN = #{token}
	</select>
<select id="getByUserAccount" resultType="com.hdos.platform.base.user.model.UserTokenVO" parameterType="String">
		select <include refid="Column_List" />
    	from PUB_USER_TOKEN where USER_ACCOUNT= #{userAccount}
	</select>


<insert id="insert" parameterType="com.hdos.platform.base.user.model.UserTokenVO">
insert into PUB_USER_TOKEN (<include refid="Column_List" />)
values (
#{token}
,#{userAccount}
,sysdate()
)
</insert>
	
<update id="update" parameterType="com.hdos.platform.base.user.model.UserTokenVO">
update PUB_USER_TOKEN
<set>
<if test="token != null" >TOKEN = #{token},</if>
<if test="userAccount != null" >USER_ACCOUNT = #{userAccount},</if>
</set>
where TOKEN = #{token}
</update>
	
	<delete id="delete" parameterType="java.lang.String" >
		delete from PUB_USER_TOKEN  where USER_ACCOUNT= #{userAccount}
	</delete>
	
	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_USER_TOKEN  where TOKEN in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>