<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.operationlog.mapper.UserActivityLogMapper">
	<!-- 记录日志 -->
	<insert id="insert" parameterType="com.hdos.platform.base.operationlog.model.UserActivityLogVO">
		INSERT INTO PUB_USERLOG (
			  LOG_ID,
			  LOG_OPER,
			  LOG_CONTENT,
			  LOG_ADDRESS,
			  LOG_USERID,
			  LOG_USER,
			  LOG_TIME,
			  LOG_STATUS,
			  SYSTEM_MARK,
			  LOG_ORG_ID
			)
			VALUES (
			  #{logId},
			  #{logOper},
			  #{logContent},
			  #{logAddress},
			  #{logUserid},
			  #{logUser},
			  #{logTime},
			  #{logStatus},
			  #{systemMark},
			  #{logOrgId}
			)
	</insert>
	
	
	<select id="list"
	 	 parameterType="map"
		resultType="com.hdos.platform.base.operationlog.model.UserActivityLogVO">
		SELECT 
			  LOG_ID      	logId,
			  LOG_OPER    	logOper,
			  LOG_CONTENT 	logContent,
			  LOG_ADDRESS 	logAddress,	
			  LOG_USERID  	logUserid,
			  LOG_USER    	logUser,
			  LOG_TIME    	logTime,
			  LOG_STATUS  	logStatus
		 FROM PUB_USERLOG
		WHERE 1=1
		
			<if test="condition.logOper !=null and condition.logOper !='' ">
				AND LOG_OPER LIKE CONCAT('%',#{condition.logOper},'%')
			</if>
			<if test="condition.logUser !=null and condition.logUser !='' ">
				AND LOG_USER LIKE CONCAT('%',#{condition.logUser},'%')
			</if>
			<if test="condition.logAddress !=null and condition.logAddress !='' ">
				AND LOG_ADDRESS LIKE CONCAT('%',#{condition.logAddress},'%')
			</if>
			
			<choose>
				<when test="condition.logStatus == 0 ">
				AND LOG_STATUS=0
				</when>
				<when test="condition.logStatus == 1 ">
				AND LOG_STATUS=1
				</when>
			</choose>
			
			<choose>
				<when
					test="condition.logTime1 !=null and condition.logTime1 !='' and condition.logTime2 !=null and condition.logTime2 !='' ">
					AND LOG_TIME 
						BETWEEN str_to_date(#{condition.logTime1},'%Y-%m-%d %T') 
							AND str_to_date(#{condition.logTime2},'%Y-%m-%d %T') 
				</when>
				<when
					test="condition.logTime1 !=null and condition.logTime1 !='' ">
					<![CDATA[ 
					AND LOG_TIME >= str_to_date(#{condition.logTime1},'%Y-%m-%d %T') 
					]]>  
				</when>
				<when
					test="condition.logTime2 !=null and condition.logTime2 !='' ">
					<![CDATA[ 
					AND LOG_TIME <= str_to_date(#{condition.logTime2},'%Y-%m-%d %T') 
					]]>  
				</when>
			</choose>
		
		ORDER BY LOG_TIME DESC
		
	</select>
	
	<select id="count"
	 	 resultType="int" parameterType="map">
		SELECT 
			  count(0)
		 FROM PUB_USERLOG
		WHERE 1=1
		
			<if test="condition.logOper !=null and condition.logOper !='' ">
				AND LOG_OPER LIKE CONCAT('%',#{condition.logOper},'%')
			</if>
			<if test="condition.logUser !=null and condition.logUser !='' ">
				AND LOG_USER LIKE CONCAT('%',#{condition.logUser},'%')
			</if>
			<if test="condition.logAddress !=null and condition.logAddress !='' ">
				AND LOG_ADDRESS LIKE CONCAT('%',#{condition.logAddress},'%')
			</if>
			
			<choose>
				<when test="condition.logStatus == 0 ">
				AND LOG_STATUS=0
				</when>
				<when test="condition.logStatus == 1 ">
				AND LOG_STATUS=1
				</when>
			</choose>
			
			<choose>
				<when
					test="condition.logTime1 !=null and condition.logTime1 !='' and condition.logTime2 !=null and condition.logTime2 !='' ">
					AND LOG_TIME 
						BETWEEN str_to_date(#{condition.logTime1},'%Y-%m-%d %T %T') 
							AND str_to_date(#{condition.logTime2},'%Y-%m-%d %T') 
				</when>
				<when
					test="condition.logTime1 !=null and condition.logTime1 !='' ">
					<![CDATA[ 
					AND LOG_TIME >= str_to_date(#{condition.logTime1},'%Y-%m-%d %T') 
					]]>  
				</when>
				<when
					test="condition.logTime2 !=null and condition.logTime2 !='' ">
					<![CDATA[ 
					AND LOG_TIME <= str_to_date(#{condition.logTime2},'%Y-%m-%d %T') 
					]]>  
				</when>
			</choose>
			
	</select>
	
</mapper>