<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.operationlog.mapper.UserLogConfigMapper">

	<sql id="Column_List">
		  LOGCFG_ID 		logcfgId,     
		  LOGCFG_MARK    	logcfgMark,
		  LOGCFG_OPER   	logcfgOper,
		  LOGCFG_DESC    	logcfgDesc,
		  LOGCFG_STATUS  	logcfgStatus,
		  CREATE_TIME  		createTime,
		  UPDATE_TIME    	updateTime,
		  LOGCFG_SUCCESS 	logcfgSuccess,
		  LOGCFG_FAILED  	logcfgFailed
	</sql>
	
	<sql id="Where_Clause">
		WHERE 1=1
			<if test="condition.logcfgOper !=null and condition.logcfgOper !='' ">
				AND LOGCFG_OPER LIKE CONCAT('%',#{condition.logcfgOper},'%') 
			</if>
			<if test="condition.logcfgMark !=null and condition.logcfgMark !='' ">
				AND LOGCFG_MARK LIKE CONCAT('%',#{condition.logcfgMark},'%') 
			</if>
			
			<choose>
				<when test="condition.logcfgStatus == 0 ">
				AND LOGCFG_STATUS=0
				</when>
				<when test="condition.logcfgStatus == 1 ">
				AND LOGCFG_STATUS=1
				</when>
			</choose>
	</sql>

	<select id="count" resultType="int" parameterType="map">
		select COUNT(1)
    	from PUB_USERLOG_CONFIG
    	<include refid="Where_Clause" />
	</select>
	
	
	<!-- -->
	<select id="list"
		resultType="com.hdos.platform.base.operationlog.model.UserLogConfigVO" parameterType="map">
		SELECT 
			    <include refid="Column_List" />
		 FROM PUB_USERLOG_CONFIG
				<include refid="Where_Clause" />
		ORDER BY UPDATE_TIME DESC
	</select>
	
	<insert id="insert" parameterType="com.hdos.platform.base.operationlog.model.UserLogConfigVO">
		INSERT INTO PUB_USERLOG_CONFIG (
			LOGCFG_ID 		,     
			LOGCFG_MARK    	,
			LOGCFG_OPER   	,
			LOGCFG_DESC    	,
			LOGCFG_STATUS  	,
			CREATE_TIME  	,
			UPDATE_TIME    	,
			SYSTEM_MARK    	,
			LOGCFG_SUCCESS 	,
			LOGCFG_FAILED  	
		) VALUES (
		 	#{logcfgId},     
			#{logcfgMark},
			#{logcfgOper},
			#{logcfgDesc},
			#{logcfgStatus},
			#{createTime},
			#{updateTime},
			#{systemMark},
			#{logcfgSuccess},
			#{logcfgFailed}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.hdos.platform.base.operationlog.model.UserLogConfigVO">
		UPDATE PUB_USERLOG_CONFIG
		   SET LOGCFG_MARK=#{logcfgMark},
		   	   LOGCFG_OPER=#{logcfgOper},
		   	   LOGCFG_DESC=#{logcfgDesc},
		   	   LOGCFG_SUCCESS=#{logcfgSuccess},
		   	   LOGCFG_FAILED=#{logcfgFailed},
		       UPDATE_TIME=#{updateTime}
		 WHERE LOGCFG_ID=#{logcfgId}
	</update>
	
	<!-- 删除日志定义 -->
	<delete id="delete" parameterType="java.lang.String">
		DELETE from PUB_USERLOG_CONFIG	WHERE LOGCFG_ID=#{id}
	</delete>
	
	<!-- 查找日志定义 -->
	<select id="getById"
		resultType="com.hdos.platform.base.operationlog.model.UserLogConfigVO"
		parameterType="java.lang.String">
		SELECT 
			  <include refid="Column_List" />
		 FROM PUB_USERLOG_CONFIG
		WHERE LOGCFG_ID=#{id}
	</select>
	
	<!-- 查找日志定义 -->
	<select id="viewLogManageByMark"
		resultType="com.hdos.platform.base.operationlog.model.UserLogConfigVO"
		parameterType="java.lang.String">
		SELECT 
			  <include refid="Column_List" />
		 FROM PUB_USERLOG_CONFIG
		WHERE LOGCFG_MARK=#{mark} AND LOGCFG_STATUS = '0'
	</select>
	
	<!-- 更新状态 -->
	<update id="updateLogManageStatus" parameterType="com.hdos.platform.base.operationlog.model.UserLogConfigVO">
		UPDATE PUB_USERLOG_CONFIG
		   SET LOGCFG_STATUS=#{logcfgStatus},
		       UPDATE_TIME=#{updateTime}
		 WHERE LOGCFG_ID=#{logcfgId}
	</update>

	<!-- 判断是否存在同名的logcfgMark -->
	<select id="existsLogcfgMark" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) 
		  FROM PUB_USERLOG_CONFIG
		 WHERE LOGCFG_MARK=#{LOGCFG_MARK} AND SYSTEM_MARK=#{SYSTEM_MARK}
		 
		 <if test="LOGCFG_ID !=null and LOGCFG_ID !='' ">
		 	<![CDATA[ 
		 	   AND LOGCFG_ID<>#{LOGCFG_ID}
		 	]]>  
		 </if>
	</select>
</mapper>