*{ margin:0; padding:0}
.table-list{ width:100%; border-left:1px solid #DFE0E5; border-top:1px solid #DFE0E5; font-size:12px; color:#333}
.table-list td{ border-right:1px solid #DFE0E5; border-bottom:1px solid #DFE0E5; background:#fff; padding:8px 5px 8px 7px;}
.table-list .t-title{background:#F7F7FF; padding:8px 2px 8px 5px; text-align:right; width:100px}
.div-level{float:right;padding:3px 0px 0px 0px;color:red}
