.icon-tux{
	background:url(../icons/icon-tux.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-user{
	background:url(../icons/icon-user.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-user-suit{
	background:url(../icons/icon-user-suit.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-log{
	background:url(../icons/icon-log.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-menu{
	background:url(../icons/icon-menu.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-card1{
	background:url(../icons/icon-card1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-card{
	background:url(../icons/icon-card.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-code{
	background:url(../icons/icon-code.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-config{
	background:url(../icons/icon-config.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-department{
	background:url(../icons/icon-department.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-customer{
	background:url(../icons/icon-customer.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-customers{
	background:url(../icons/icon-customers.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
	
.icon-device{
	background:url(../icons/icon-device.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-merchant{
	background:url(../icons/icon-merchant.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-password{
	background:url(../icons/icon-password.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-payment{
	background:url(../icons/icon-payment.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sim{
	background:url(../icons/icon-sim.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sms{
	background:url(../icons/icon-sms.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-statistics{
	background:url(../icons/icon-statistics.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-statistics1{
	background:url(../icons/icon-statistics1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-statistics{
background:url(../icons/icon-statistics.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-user1{
	background:url(../icons/icon-user1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-user2{
	background:url(../icons/icon-user2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-bind1{
	background:url(../icons/icon-bind1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-department1{
	background:url(../icons/icon-department1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-department2{
	background:url(../icons/icon-department2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-device1{
	background:url(../icons/icon-device1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-device2{
	background:url(../icons/icon-device2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-excel1{
	background:url(../icons/icon-excel1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-excel2{
	background:url(../icons/icon-excel2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-info1{
	background:url(../icons/icon-info1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-info2{
	background:url(../icons/icon-info2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-info3{
	background:url(../icons/icon-info3.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-info4{
	background:url(../icons/icon-info4.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-message1{
	background:url(../icons/icon-message1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-message2{
	background:url(../icons/icon-message2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-money1{
	background:url(../icons/icon-money1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-money2{
	background:url(../icons/icon-money2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-money3{
	background:url(../icons/icon-money3.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-money4{
	background:url(../icons/icon-money4.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-money5{
	background:url(../icons/icon-money5.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-people1{
	background:url(../icons/icon-people1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-people2{
	background:url(../icons/icon-people2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-people3{
	background:url(../icons/icon-people3.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-people4{
	background:url(../icons/icon-people4.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-pwd1{
	background:url(../icons/icon-pwd1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-set1{
	background:url(../icons/icon-set1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-set2{
	background:url(../icons/icon-set2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-set3{
	background:url(../icons/icon-set3.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-set4{
	background:url(../icons/icon-set4.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system1{
	background:url(../icons/icon-system1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system2{
	background:url(../icons/icon-system2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table1{
	background:url(../icons/icon-table1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table2{
	background:url(../icons/icon-table2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table3{
	background:url(../icons/icon-table3.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table4{
	background:url(../icons/icon-table4.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-unbind1{
	background:url(../icons/icon-unbind1.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-unbind2{
	background:url(../icons/icon-unbind2.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-chart-bar{
	background:url(../icons/icon-chart-bar.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-chart-curve{
	background:url(../icons/icon-chart-curve.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-chart-line{
	background:url(../icons/icon-chart-line.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-chart-pie{
	background:url(../icons/icon-chart-pie.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-double{
	background:url(../icons/icon-double.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-email-open{
	background:url(../icons/icon-email-open.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-email{
	background:url(../icons/icon-email.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder-key{
	background:url(../icons/icon-folder-key.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder-user{
	background:url(../icons/icon-folder-user.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder-wrench{
	background:url(../icons/icon-folder-wrench.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder{
	background:url(../icons/icon-folder.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-form-edit{
	background:url(../icons/icon-form-edit.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-form{
	background:url(../icons/icon-form.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-side-boxs{
	background:url(../icons/icon-side-boxs.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-side-list{
	background:url(../icons/icon-side-list.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table-edit{
	background:url(../icons/icon-table-edit.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table-key{
	background:url(../icons/icon-table-key.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table-multiple{
	background:url(../icons/icon-table-multiple.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-table{
	background:url(../icons/icon-table.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-tile-vertical{
	background:url(../icons/icon-tile-vertical.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-vcard-edit{
	background:url(../icons/icon-vcard-edit.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-vcard{
	background:url(../icons/icon-vcard.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-view-columns{
	background:url(../icons/icon-view-columns.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-view-list{
	background:url(../icons/icon-view-list.png) no-repeat;width:18px; line-height:18px; display:inline-block;}