@CHARSET "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,code,em,strong,th{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%;}
body{line-height:1.5;font:14px Arial, 微锟斤拷锟脚猴拷, sans-serif;}
html, body {background:#f2f2f2; height:100%;}
ol,ul{list-style:none}
table{border-spacing:0}/*border-collapse:collapse*/
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
:link,:visited ,ins{text-decoration:none;}
a{ color:#4d74ad; text-decoration:none; cursor:pointer}
a:hover{ color:#189e25; text-decoration:underline}
.clear{clear:both; height:1px; overflow:hidden;}

.login-form{ width:300px; padding:10px; background:#fff; position:absolute;}
.login-form .title{ width:100%;}
.login-form .title span{ font-size:18px; color:#666}
.login-form .title a{ display:inline-block; float:right;color:#286fd0}
.login-form .title a:hover{ color:#f00;}


.user{ width:300px; margin-top:20px; border:1px solid #ccc; position:relative}
.user label{ width:36px; height:36px; position:absolute; left:0; top:0; background:url(../images/name.png) no-repeat center center}
.user input{ width:264px; padding:10px 0 10px 36px; border:0}

.password{ width:300px; margin-top:20px; border:1px solid #ccc; position:relative}
.password label{ width:36px; height:36px; position:absolute; left:0; top:0; background:url(../images/password.png) no-repeat center center}
.password input{ width:264px; padding:10px 0 10px 36px; border:0}
.tips{ width:100%; float:left; color:#f00; margin-top:10px;}
.tips span{ display:inline-block; height:15px; line-height:15px; font-size:12px}

.login-form .yzm{ width:100%; margin-top:18px;float:left}
.login-form .yzm input{ width:80px; height:32px; padding:0 5px; float:left;border:1px solid #ccc; text-align:center}
.login-form .yzm .pic{ width:90px; height:32px; float:left; margin-left:10px;}
.login-form .yzm .pic img{ width:90px; height:32px;}
.login-form .yzm .refresh{ display:inline-block; line-height:32px;float:left}
.login-form .yzm .refresh a{ color:#666; font-size:12px}
.login-form .yzm .refresh a:hover{ color:#f00;}

.login-btn{ width:300px; height:36px; float:left; margin-top:8px; background:#286fd0}
.login-btn a{ display:inline-block; width:100%; line-height:36px; text-align:center; color:#fff; font-size:18px}
.login-btn a:hover{ text-decoration:none}