<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.component.mapper.BankMapper">

	<sql id="Column_List">
		BANK_ID,BANK_NAME,BANK_CODE
	</sql>

	<select id="listBank" resultType="com.hdos.platform.base.component.model.BankVO">
		select
		<include refid="Column_List" />
		from PROD_BANK
	</select>
	
	<select id="getBankIdByBankName" resultType="java.lang.String"
		parameterType="java.lang.String">
		select BANK_ID
		from PROD_BANK where BANK_NAME =#{bankName}
	</select>
	
	<select id="getBankNameByBankId" resultType="java.lang.String"
		parameterType="java.lang.String">
		select BANK_NAME
		from PROD_BANK where BANK_ID =#{bankId}
	</select>
</mapper>