<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.component.mapper.CodeGenerateMapper">

	<sql id="Column_List">
		ID,BUSINESS_NAME,BUSINESS_KEY,GENERATE_TYPE,LAST_GENERATE_TIME,RULE,LENGTH,NO
	</sql>
	
	<sql id="Column_List_Detail">
		ID,PUB_ID,BUSINESS_ID,NO,LAST_GENERATE_TIME
	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="condition.id != null">
				and ID = #{condition.id}
			</if>
			<if test="condition.businessKey != null">
				and BUSINESS_KEY like CONCAT(CONCAT('%', #{condition.businessKey}),'%')
			</if>
		</where>
	</sql>
	
	<select id="getById" resultType="com.hdos.platform.base.component.model.CodeGenerateVO"
		parameterType="String">
		select
		<include refid="Column_List" />
		from PUB_CODE_GENERATE where ID = #{id}
	</select>

	<select id="verifyCode" resultType="com.hdos.platform.base.component.model.CodeGenerateVO"
		parameterType="java.lang.String">
		SELECT <include refid="Column_List" /> FROM PUB_CODE_GENERATE T WHERE T.LAST_GENERATE_TIME is not null and T.ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>


	<select id="queryCode" resultType="com.hdos.platform.base.component.model.CodeGenerateVO">
		select
		<include refid="Column_List" />
		FROM PUB_CODE_GENERATE
		ORDER BY LAST_GENERATE_TIME
	</select>


	<select id="count" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM
		PUB_CODE_GENERATE
		<where>
			<if test="condition.id !=null">
				ID != #{condition.id}
			</if>
			<if test="condition.businessKey !=null">
				AND PUB_CODE_GENERATE.BUSINESS_KEY =
				#{condition.businessKey}
			</if>
			<if test="condition.businessName != null">
				OR PUB_CODE_GENERATE.BUSINESS_NAME = #{condition.businessName}
			</if>
		</where>
	</select>
	
	<select id="countName" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM
		PUB_CODE_GENERATE
		<where>
			<if test="condition.id !=null">
				ID != #{condition.id}
			</if>
			<if test="condition.businessName != null">
				AND PUB_CODE_GENERATE.BUSINESS_NAME = #{condition.businessName}
			</if>
		</where>
	</select>
	
	<select id="countKey" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM
		PUB_CODE_GENERATE
		<where>
			<if test="condition.id !=null">
				ID != #{condition.id}
			</if>
			<if test="condition.businessKey !=null">
				AND PUB_CODE_GENERATE.BUSINESS_KEY =
				#{condition.businessKey}
			</if>
		</where>
	</select>
	
	
	

	<select id="list" resultType="com.hdos.platform.base.component.model.CodeGenerateVO"
		parameterType="map">
		select
		<include refid="Column_List" />
		FROM
		PUB_CODE_GENERATE
		<include refid="Where_Clause" />
		ORDER BY
		LAST_GENERATE_TIME DESC
	</select>
	
	
	
	<select id="listDetail" resultType="com.hdos.platform.base.component.model.CodeGenerateDetailVO"
		parameterType="java.lang.String">
		select
		<include refid="Column_List_Detail" />
		FROM
		PUB_CODE_GENERATE_DETAIL
		where BUSINESS_ID = #{businessId} ORDER BY LAST_GENERATE_TIME DESC
	</select>

	<select id="lock" resultType="com.hdos.platform.base.component.model.CodeGenerateVO"
		parameterType="com.hdos.platform.base.component.model.CodeGenerateVO">
		SELECT * FROM PUB_CODE_GENERATE
		<where>
			<if test="id !=null">
				ID = #{id}
			</if>
		</where>
		FOR UPDATE
	</select>


	<insert id="insert" parameterType="com.hdos.platform.base.component.model.CodeGenerateVO">
		insert into PUB_CODE_GENERATE (
		<include refid="Column_List" />
		)
		values (
		#{id}
		,#{businessName}
		,#{businessKey}
		,#{generateType}
		,#{lastGenerateTime}
		,#{rule}
		,#{length}
		,#{no}
		)
	</insert>

	<insert id="insertDetail"
		parameterType="com.hdos.platform.base.component.model.CodeGenerateDetailVO">
		insert into PUB_CODE_GENERATE_DETAIL
		values (
		#{id}
		,#{pubId}
		,#{businessId}
		,#{no}
		,#{lastGenerateTime}
		)
	</insert>


	<update id="updateForCode" parameterType="com.hdos.platform.base.component.model.CodeGenerateVO">
		update PUB_CODE_GENERATE
		<set>
			<if test="businessKey != null">BUSINESS_NAME = #{businessName},</if>
			<if test="businessKey != null">BUSINESS_KEY = #{businessKey},</if>
			<if test="generateType != null">GENERATE_TYPE = #{generateType},</if>
			<if test="lastGenerateTime != null">LAST_GENERATE_TIME = #{lastGenerateTime},</if>
			<if test="rule != null">RULE = #{rule},</if>
			<if test="length != null">LENGTH = #{length},</if>
			<if test="no != null">NO = NO+1,</if>
		</set>
		where ID = #{id}
	</update>
	
	<update id="update" parameterType="com.hdos.platform.base.component.model.CodeGenerateVO">
		update PUB_CODE_GENERATE
		<set>
			<if test="businessKey != null">BUSINESS_NAME = #{businessName},</if>
			<if test="businessKey != null">BUSINESS_KEY = #{businessKey},</if>
			<if test="generateType != null">GENERATE_TYPE = #{generateType},</if>
			<if test="lastGenerateTime != null">LAST_GENERATE_TIME = #{lastGenerateTime},</if>
			<if test="rule != null">RULE = #{rule},</if>
			<if test="length != null">LENGTH = #{length},</if>
			<if test="no != null">NO = #{no},</if>
		</set>
		where ID = #{id}
	</update>
	
	

	<delete id="delete" parameterType="java.lang.String">
		delete from
		PUB_CODE_GENERATE where ID = #{id}
	</delete>

	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_CODE_GENERATE where ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>