<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.component.mapper.SmsMapper">

	<sql id="Column_List">
		SMS_ID
		,SMS_TEMPLATE_ID
		,TEMPLATE_ID
		,MOBILE
		,SMS_PARAMETER_1
		,SMS_PARAMETER_2
		,SMS_PARAMETER_3
		,SMS_PARAMETER_4
		,SMS_PARAMETER_5
		,SEND_TIME
		,EXPIRY_TIME
		,IP_ADDRESS
		,STATUS
	</sql>

	<sql id="Where_Clause">
		<where>
			STATUS = 0
			<if test="condition.smsId != null">
				and SMS_ID = #{condition.smsId}
			</if>
			<if test="condition.mobile != null">
				and MOBILE = #{condition.mobile}
			</if>
		</where>
	</sql>

	<select id="getById" resultType="com.hdos.platform.base.component.model.SmsVO"
		parameterType="String">
		select
		<include refid="Column_List" />
		from PUB_SMS where SMS_ID = #{smsId}
	</select>

	<select id="count" resultType="int" parameterType="map">
		select COUNT(1)
		from PUB_SMS
		<include refid="Where_Clause" />
	</select>

	<select id="isSafe" resultType="int" parameterType="string" databaseId="mysql">
		SELECT
		COUNT(1) FROM PUB_SMS T WHERE T.SEND_TIME BETWEEN #{0} AND #{1};
	</select>

		
<select id="isSafe" resultType="int" parameterType="string" databaseId="oracle">
		SELECT
		COUNT(1) FROM PUB_SMS T WHERE T.SEND_TIME BETWEEN TO_DATE(#{0}, 'YYYY/MM/DD HH:MI:SS') AND TO_DATE(#{1}, 'YYYY/MM/DD HH:MI:SS')
	</select>

	<select id="getmessageStatus" resultType="int" parameterType="string">
		SELECT STATUS FROM PUB_SMS WHERE MOBILE = #{0} AND SMS_PARAMETER_1 =
		#{1}
	</select>

	<select id="list" resultType="com.hdos.platform.base.component.model.SmsVO"
		parameterType="map">
		select
		<include refid="Column_List" />
		from PUB_SMS
		<include refid="Where_Clause" />
		ORDER BY SEND_TIME DESC
	</select>

	<select id="insert" parameterType="com.hdos.platform.base.component.model.SmsVO">
		insert into PUB_SMS (<include refid="Column_List" />)
		values (
		#{smsId}
		,#{smsTemplateId}
		,#{templateId}
		,#{mobile}
		,#{smsParameter1}
		,#{smsParameter2}
		,#{smsParameter3}
		,#{smsParameter4}
		,#{smsParameter5}
		,#{sendTime}
		,#{expiryTime}
		,#{ipAddress}
		,#{status}
		)
	</select>

	<update id="update" parameterType="com.hdos.platform.base.component.model.SmsVO">
		update PUB_SMS
		<set>
			<if test="smsId != null">SMS_ID = #{smsId},</if>
			<if test="smsTemplateId != null">SMS_TEMPLATE_ID = #{smsTemplateId},</if>
			<if test="templateId != null">TEMPLATE_ID = #{templateId},</if>
			<if test="mobile != null">MOBILE = #{mobile},</if>
			<if test="smsParameter1 != null">SMS_PARAMETER_1 =
				#{smsParameter1},
			</if>
			<if test="smsParameter2 != null">SMS_PARAMETER_2 =
				#{smsParameter2},
			</if>
			<if test="smsParameter3 != null">SMS_PARAMETER_3 =
				#{smsParameter3},
			</if>
			<if test="smsParameter4 != null">SMS_PARAMETER_4 =
				#{smsParameter4},
			</if>
			<if test="smsParameter5 != null">SMS_PARAMETER_5 =
				#{smsParameter5},
			</if>
			<if test="sendTime != null">SEND_TIME = #{sendTime},</if>
			<if test="expiryTime != null">EXPIRY_TIME = #{expiryTime},</if>
			<if test="ipAddress != null">IP_ADDRESS = #{ipAddress},</if>
			<if test="status != null">STATUS = #{status},</if>
		</set>
		where SMS_ID = #{smsId}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from
		PUB_SMS where
		SMS_ID = #{smsId}
	</delete>

	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_SMS where SMS_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>


	<select id="getLatestByPhone" resultType="String" parameterType="String">
		select SMS_ID from PUB_SMS where MOBILE = #{phone} order by SEND_TIME
		DESC LIMIT 1
	</select>

</mapper>