<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.component.mapper.SmsTemplateMapper">

	<sql id="Column_List">
		SMS_TEMPLATE_ID
		,TEMPLATE_ID
		,TEMPLATE_CONTENT
		,CREATE_TIME
		,SMS_SIGNATURE
	</sql>

	<sql id="Where_Clause">
		<where>
			<if test="condition.smsTemplateId != null">
				and SMS_TEMPLATE_ID = #{condition.smsTemplateId}
			</if>
			<if test="condition.templateId != null">
				and TEMPLATE_ID = #{condition.templateId}
			</if>
		</where>
	</sql>

	<select id="getById" resultType="com.hdos.platform.base.component.model.SmsTemplateVO"
		parameterType="String">
		select
		<include refid="Column_List" />
		from PUB_SMS_TEMPLATE where SMS_TEMPLATE_ID = #{smsTemplateId}
	</select>

	<select id="count" resultType="int" parameterType="map">
		select COUNT(1)
		from PUB_SMS_TEMPLATE
		<where>
			<if test="condition.smsTemplateId != null">
				SMS_TEMPLATE_ID != #{condition.smsTemplateId}
			</if>
			<if test="condition.templateId != null">
				and TEMPLATE_ID = #{condition.templateId}
			</if>
		</where>
	</select>

	<select id="list" resultType="com.hdos.platform.base.component.model.SmsTemplateVO"
		parameterType="map">
		select
		<include refid="Column_List" />
		from PUB_SMS_TEMPLATE
		<include refid="Where_Clause" />
		ORDER BY CREATE_TIME DESC
	</select>

	<insert id="insert" parameterType="com.hdos.platform.base.component.model.SmsTemplateVO">
		insert into PUB_SMS_TEMPLATE (
		<include refid="Column_List" />
		)
		values (
		#{smsTemplateId}
		,#{templateId}
		,#{templateContent}
		,#{createTime}
		,#{smsSignature}
		)
	</insert>

	<update id="update" parameterType="com.hdos.platform.base.component.model.SmsTemplateVO">
		update PUB_SMS_TEMPLATE
		<set>
			<if test="smsTemplateId != null">SMS_TEMPLATE_ID =
				#{smsTemplateId},
			</if>
			<if test="templateId != null">TEMPLATE_ID = #{templateId},</if>
			<if test="templateContent != null">TEMPLATE_CONTENT =
				#{templateContent},
			</if>
			<if test="smsSignature != null">SMS_SIGNATURE = #{smsSignature},
			</if>
			CREATE_TIME = #{createTime}
		</set>
		where SMS_TEMPLATE_ID = #{smsTemplateId}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from
		PUB_SMS_TEMPLATE
		where SMS_TEMPLATE_ID = #{smsTemplateId}
	</delete>

	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_SMS_TEMPLATE where SMS_TEMPLATE_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>