<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.menu.mapper.MenuMapper">

	<resultMap id="MenuMap" type="com.hdos.platform.base.menu.model.MenuVO">
		<id column="MENU_ID" property="menuId"/>
		<result column="MENU_NAME" property="menuName"/>
		<result column="P_MENU_ID" property="pMenuId"/>
		<result column="URL" property="url"/>
		<result column="IS_DIR" property="isDir"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="SORT" property="sort"/>
		<result column="ICONCLS" property="iconCls"/>
	</resultMap>
	
	<sql id="Column_List">
		MENU_ID,MENU_NAME,P_MENU_ID,URL,IS_DIR,STATUS,CREATE_TIME,UPDATE_TIME,SORT_NO,ICONCLS
	</sql>

	<!-- 根据父节点id获取菜单 -->
	<select id="queryMenuByPMenuId" resultMap="MenuMap" parameterType="java.lang.String">
		select <include refid="Column_List" />,case IS_DIR when 0 then 'open' when 1 then 'closed' end as STATE
    	from PUB_MENU
    	where P_MENU_ID = #{pMenuId} and STATUS>=0 order by SORT_NO
	</select>
	
	<select id="queryMenuBySortNoGT" resultMap="MenuMap" parameterType="java.lang.String">
		select <include refid="Column_List" /> from PUB_MENU
    	where P_MENU_ID = #{0} and SORT_NO  &gt; #{1} and STATUS>=0 order by SORT_NO
	</select>
	
	<select id="queryMenuBySortNoLT" resultMap="MenuMap" parameterType="java.lang.String">
		select <include refid="Column_List" /> from PUB_MENU
    	where P_MENU_ID = #{0} and SORT_NO  &lt; #{1} and STATUS>=0 order by SORT_NO
	</select>
	
	<!-- 根据父节点id和userId获取菜单 -->
	<select id="queryTreeByRole" resultMap="MenuMap" parameterType="com.hdos.platform.base.menu.model.MenuVO">
		select <include refid="Column_List" /> from PUB_MENU o where o.menu_id in(
		SELECT m.MENU_ID
		FROM PUB_MENU m,PUB_MENU_R_ROLE t,PUB_USER_R_ROLE s
		WHERE m.MENU_ID = t.MENU_ID AND t.ROLE_ID = s.ROLE_ID AND s.USER_ID = #{userId} and m.P_MENU_ID = #{pMenuId} and STATUS >= 0
		) ORDER BY o.SORT_NO
		
	</select>
	
	<!-- 根据父节点id和roleId获取菜单 -->
	<select id="getTreeDataByRoleSelected" resultMap="MenuMap" parameterType="com.hdos.platform.base.menu.model.MenuVO">
		select m.*,case IS_DIR when 0 then 'open' when 1 then 'closed' end as STATE
		 FROM PUB_MENU m,PUB_MENU_R_ROLE t where m.MENU_ID = t.MENU_ID and t.ROLE_ID 
		  = #{roleId} and m.Status >= 0 ORDER BY m.SORT_NO
	</select>
	
	
	<!-- 根据menuId获取菜单 -->
	<select id="readMenuByMenuId" resultMap="MenuMap" parameterType="java.lang.String">
		select <include refid="Column_List" />
    	from PUB_MENU
    	where MENU_ID = #{menuId} and STATUS>=0 ORDER BY SORT_NO
	</select>
	
	<!-- 新增菜单 -->
	<insert id="insertMenu" parameterType="com.hdos.platform.base.menu.model.MenuVO">
		insert into PUB_MENU
		(<include refid="Column_List" />) values
		(#{menuId},#{menuName},#{pMenuId},#{url},#{isDir},0,#{createTime},#{updateTime},
		(SELECT NEW_SORT_NO FROM (select COALESCE(MAX(SORT_NO),0)+1 as NEW_SORT_NO from PUB_MENU where P_MENU_ID = #{pMenuId}) a),
		
		<choose>
		    <when test="iconCls!=''">
		   		#{iconCls}
		    </when>
		    <otherwise>
		        null
		    </otherwise>
		</choose>
		
		)
	</insert>
	
	<!-- 新增菜单角色 -->
	<select id="insertMenuRole" parameterType="java.util.List">
		insert into PUB_MENU_R_ROLE(ROLE_ID,MENU_ID)
       
       <foreach collection="list" item="item" separator="union all">
		select #{item.roleId},#{item.menuId} from dual
		</foreach>
		
	</select>
	
	
	<update id="updateMenu"
		parameterType="com.hdos.platform.base.menu.model.MenuVO">
		update PUB_MENU
		<set>
			<if test="pMenuId != null">P_MENU_ID = #{pMenuId},</if>
			MENU_NAME=#{menuName},URL=#{url},UPDATE_TIME=#{updateTime},ICONCLS = #{iconCls}
		</set>
		where MENU_ID=#{menuId}
	</update>
	
	<!-- 菜单排序 -->
	<update id="sortMenu"
		parameterType="com.hdos.platform.base.menu.model.MenuVO">
		update PUB_MENU
		<set>
			<if test="pMenuId != null">P_MENU_ID = #{pMenuId},</if>
			<if test="sortNo != null">SORT_NO=#{sortNo},</if>
			MENU_NAME=#{menuName},URL=#{url},UPDATE_TIME=#{updateTime},ICONCLS = #{iconCls}
		</set>
		where MENU_ID=#{menuId}
	</update>
	
	<!-- 修改菜单角色 -->
	<delete id="deleteMenuRole" parameterType="java.lang.String">
	 	delete from PUB_MENU_R_ROLE where ROLE_ID=#{roleId}
	</delete>
	
	
	<!-- 统计其下子菜单的个数 -->
	<select id="countSubMenus" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from PUB_MENU where P_MENU_ID=#{id} and STATUS>=0 ORDER BY SORT_NO
	</select>
	
	<!-- 删除一条数据 -->
	<update id="deleteMenuByMenuId" parameterType="java.lang.String">
		update PUB_MENU set STATUS=-1 where MENU_ID=#{menuId}
	</update>

</mapper>