<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.department.mapper.DepartmentMapper">

	<resultMap id="DepartmentMap"
		type="com.hdos.platform.base.department.model.DepartmentVO">
		<id column="DEPARTMENT_ID" property="departmentId" />
		<result column="STATUS" property="status" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="SORT" property="sort" />
		<result column="PARENT_ID" property="parentId" />
		<result column="DEPARTMENT_NAME" property="departmentName" />
		<result column="FULL_NAME" property="fullName" />
		<result column="CODE" property="code" />
		<result column="FULL_CODE" property="fullCode" />
		<result column="DEPARTMENT_LEVEL" property="departmentLevel" />
		<result column="TYPE" property="type" />
		<result column="REMARK" property="remark" />
	</resultMap>

	<sql id="Column_List">
		DEPARTMENT_ID,STATUS,CREATE_TIME,UPDATE_TIME,SORT_NO,PARENT_ID,DEPARTMENT_NAME,FULL_NAME,CODE,FULL_CODE,DEPARTMENT_LEVEL,TYPE,REMARK,DEPARTMENT_CODE
	</sql>

	<sql id="Column_List_merchant">
		MERCHANT_ID
		,DEPARTMENT_ID
		,FINANCE_ACCOUNT_ID
		,MERCHANT_CODE
		,MERCHANT_NAME
		,ARTIFICIAL_PERSION
		,BUSINESS_LICENCE_NO
		,REGISTERED_CAPITAL
		,CERTIFYING_AUTHORITY
		,PROVINCE
		,CITY
		,DISTRICT
		,ADDRESS
		,CONTACTS
		,MOBILE
		,TEL
		,BANK_NO
		,ACCOUNT_BANK
		,ACCOUNT_NAME
		,ACCOUNT_NO
		,ARTIFICIAL_PERSION_PHOTO
		,LICENCE_PHOTO
		,AUTHORIZING_LETTER_PHOTO
		,MERCHANT_IMAGE
		,REMARK
		,STATUS
		,CREATE_TIME
		,UPDATE_TIME
		,SORT_NO
	</sql>


	<sql id="Where_Clause">
		<where>
			STATUS != -1
			<if test="condition.parentId != null">
				and PARENT_ID = #{condition.parentId}
			</if>
			<if test="condition.departmentName != null">
				and DEPARTMENT_NAME like #{condition.departmentName}
			</if>
			<if test="condition.fullCode != null">
				and FULL_CODE like #{condition.fullCode}
			</if>
			<if test="condition.type != null">
				and TYPE in
				<foreach collection="condition.type" item="item" index="index"
					open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>


	<select id="list"
		resultType="com.hdos.platform.base.department.model.DepartmentVO"
		parameterType="java.util.Map">
		select
		<include refid="Column_List" />
		from PUB_DEPARTMENT
		<include refid="Where_Clause" />
		order by CREATE_TIME ASC
	</select>

	<!-- 根据父级id获得机构 -->
	<select id="queryByParentId" resultMap="DepartmentMap"
		parameterType="java.lang.String">
		select
		<include refid="Column_List" />
		,case (select count(1) from PUB_DEPARTMENT where PARENT_ID=
		#{parentId} and STATUS>=0)

		when 0 then 'open' else 'closed' end as STATE

		from PUB_DEPARTMENT where PARENT_ID = #{parentId} AND STATUS>=0 order by
		CREATE_TIME ASC
	</select>
	<!-- 根据父级id获得机构 -->
	<select id="queryAllByParentId" resultMap="DepartmentMap"
		parameterType="java.lang.String">
		select
		<include refid="Column_List"></include>
		from PUB_DEPARTMENT where FULL_CODE like concat(#{fullcode},'%') and
		STATUS>=0 order by SORT_NO asc
	</select>
	<!-- 根据机构全称获得机构id -->
	<select id="getIdByFullName" resultType="java.lang.String"
		parameterType="java.lang.String">
		select DEPARTMENT_ID
		from PUB_DEPARTMENT where FULL_NAME =#{fullName}
	</select>
	
	
	<!-- 根据机构全码获得机构id -->
	<select id="getIdByFullCode" resultType="java.lang.String"
		parameterType="java.lang.String">
		select DEPARTMENT_ID
		from PUB_DEPARTMENT where FULL_CODE =#{trim} and STATUS >= 0
	</select>
	<!-- 根据机构编码获得机构id -->
	<select id="getIdByDepartmentCode" resultType="java.lang.String"
		parameterType="java.lang.String">
		select DEPARTMENT_ID
		from PUB_DEPARTMENT where DEPARTMENT_CODE =#{departmentCode} and STATUS >= 0
	</select>
	<!-- 获取父级名称 -->

	<select id="getDepartmentName" resultType="java.lang.String"
		parameterType="java.lang.String">
		select DEPARTMENT_NAME from PUB_DEPARTMENT where
		DEPARTMENT_ID = #{parentId} AND STATUS>=0
	</select>
	<select id="getDepartmentFullCode" resultType="java.lang.String"
		parameterType="java.lang.String">
		select FULL_CODE from PUB_DEPARTMENT where DEPARTMENT_ID
		= #{parentId} AND STATUS>=0
	</select>

	<!-- 根据主键查找id -->
	<select id="getById"
		resultType="com.hdos.platform.base.department.model.DepartmentVO"
		parameterType="java.lang.String">
		select
		<include refid="Column_List" />
		from PUB_DEPARTMENT where DEPARTMENT_ID = #{id} and status != -1
	</select>

	<!-- 根据id获得商户信息 -->
	<select id="getByMerchantId" resultType="com.hdos.platform.base.user.model.AccountInfoVO"
		parameterType="java.lang.String">
		select
		<include refid="Column_List_merchant" />
		from PROD_MERCHANT where MERCHANT_ID = #{merchantId} and status != -1
	</select>

	<select id="getMerchantByDepartmentId" resultType="com.hdos.platform.base.user.model.AccountInfoVO"
		parameterType="String">
		select
		<include refid="Column_List_merchant" />
		from PROD_MERCHANT where DEPARTMENT_ID = #{departmentId}

		ORDER BY
		UPDATE_TIME DESC
	</select>

	<select id="getMerchantByListDepartment" resultType="com.hdos.platform.base.user.model.AccountInfoVO"
		parameterType="map">
		select
		<include refid="Column_List_merchant" />
		from PROD_MERCHANT where DEPARTMENT_ID in
		<foreach collection="listDepartment" item="item" index="index"
			open="(" close=")" separator=",">
			#{item.departmentId}
		</foreach>

		ORDER BY UPDATE_TIME DESC
	</select>


	<select id="searchFirstDepartment" resultType="java.lang.String" databaseId="mysql">
		select DEPARTMENT_ID FROM PUB_DEPARTMENT where STATUS >=0	LIMIT 1
	</select>

	<select id="getFirstName" resultType="java.lang.String" databaseId="mysql">
		select DEPARTMENT_NAME FROM PUB_DEPARTMENT where STATUS >=0 LIMIT 1
	</select>
	
	<select id="searchFirstDepartment" resultType="java.lang.String" databaseId="oracle">
		select DEPARTMENT_ID FROM PUB_DEPARTMENT where STATUS >=0	and ROWNUM = 1
	</select>

	<select id="getFirstName" resultType="java.lang.String" databaseId="oracle">
		select DEPARTMENT_NAME FROM PUB_DEPARTMENT where STATUS >=0 and ROWNUM = 1
	</select>

	<!-- 新增机构 -->
	<insert id="insert"
		parameterType="com.hdos.platform.base.department.model.DepartmentVO" databaseId="oracle">
		insert into PUB_DEPARTMENT (
		<include refid="Column_List" />
		)
		values (
		#{departmentId},0,#{createTime},#{updateTime},0,#{parentId},
		#{departmentName},#{fullName},

		(select lpad(COALESCE(MAX(CODE),'0') + 1, 2, '0') as NEW_CODE from
		PUB_DEPARTMENT where PARENT_ID = #{parentId} AND STATUS != -1),

		(select concat((select coalesce((select FULL_CODE
		from PUB_DEPARTMENT
		where DEPARTMENT_ID =#{parentId} and STATUS !=-1),
		'')
		FROM DUAL),
		(select lpad(coalesce(MAX(CODE), '0') + 1, 2, '0')
		from PUB_DEPARTMENT
		where PARENT_ID = #{parentId} and STATUS !=-1))
		FROM DUAL),


		(SELECT (COALESCE((SELECT DISTINCT DEPARTMENT_LEVEL FROM PUB_DEPARTMENT t
		WHERE t.DEPARTMENT_ID = #{parentId}),0)+1) FROM DUAL),
		#{type},#{remark},#{departmentCode}
		)

	</insert>

	<insert id="insert" parameterType="com.hdos.platform.base.department.model.DepartmentVO" databaseId="mysql">
		insert into PUB_DEPARTMENT (
		<include refid="Column_List" />
		)
		values (
		#{departmentId},0,now(),now(),0,#{parentId}, #{departmentName},#{fullName},
		
		(select NEW_CODE from (select lpad(IFNULL(MAX(CODE),0) + 1, 2, '0') as NEW_CODE
		from PUB_DEPARTMENT where PARENT_ID = #{parentId} AND STATUS != -1) as tmptable1),
		
		(select NEW_FULL_CODE from (select concat(coalesce((select FULL_CODE from PUB_DEPARTMENT where DEPARTMENT_ID = #{parentId}), ''), lpad(IFNULL(MAX(CODE),0) + 1, 2, '0')) as NEW_FULL_CODE from PUB_DEPARTMENT where PARENT_ID = #{parentId} AND STATUS != -1) as tmptable2),
		
		(SELECT (IFNULL((SELECT DISTINCT DEPARTMENT_LEVEL FROM PUB_DEPARTMENT t WHERE t.DEPARTMENT_ID = #{parentId}),0)+1)),
		#{type},#{remark},#{departmentCode}
		)
		
	</insert>

	<!-- 插入 FULL_NAME -->
	<update id="updateFname"
		parameterType="com.hdos.platform.base.department.model.DepartmentVO" databaseId="oracle">
		update PUB_DEPARTMENT set FULL_NAME = (SELECT
		CONCAT(CONCAT((SELECT FULL_NAME FROM PUB_DEPARTMENT WHERE
		DEPARTMENT_ID = #{parentId}),'>'),(SELECT DEPARTMENT_NAME FROM
		PUB_DEPARTMENT WHERE DEPARTMENT_ID = #{departmentId})) as full_name
		FROM DUAL)
		where DEPARTMENT_ID = #{departmentId}

	</update>
	<update id="updateFname" parameterType="com.hdos.platform.base.department.model.DepartmentVO" databaseId="mysql">
		update PUB_DEPARTMENT set FULL_NAME = (select full_name from (select CONCAT((SELECT FULL_NAME FROM PUB_DEPARTMENT WHERE DEPARTMENT_ID  = #{parentId}),'>',(SELECT DEPARTMENT_NAME FROM PUB_DEPARTMENT WHERE DEPARTMENT_ID  = #{departmentId})) as full_name) as B)
		where DEPARTMENT_ID = #{departmentId}
	</update>




	<!-- 更新子机构的FULL_NAME -->
	<update id="updateFullName"
		parameterType="com.hdos.platform.base.department.model.DepartmentVO">
		update PUB_DEPARTMENT set FULL_NAME = #{fullName} where
		DEPARTMENT_ID = #{departmentId}
	</update>


	<!-- 修改机构 -->
	<update id="update"
		parameterType="com.hdos.platform.base.department.model.DepartmentVO">
		update PUB_DEPARTMENT

		<set>
			<if test="parentId == '-1' ">
				FULL_NAME = #{departmentName},
			</if>
			DEPARTMENT_NAME=#{departmentName},
			TYPE = #{type},UPDATE_TIME =
			#{updateTime},REMARK = #{remark},DEPARTMENT_CODE = #{departmentCode}
			where DEPARTMENT_ID = #{departmentId}
		</set>

	</update>



	<select id="verifyDepartmentCode" resultType="int" parameterType="String">
		select COUNT(1)
		from PUB_DEPARTMENT
		where DEPARTMENT_CODE = #{0} and STATUS != -1
	</select>

	<select id="verifyDepartmentCodeExceptSelf" resultType="int" parameterType="String">
		select COUNT(1)
		from PUB_DEPARTMENT
		where STATUS != -1 and DEPARTMENT_CODE = #{0} and DEPARTMENT_ID NOT IN (#{1})
	</select>
	<select id="count" resultType="int" parameterType="map">
		SELECT count(1) FROM PUB_DEPARTMENT
		<where>
			STATUS != -1
			<if test="condition.departmenId !='null'">
				AND DEPARTMENT_ID != #{condition.departmenId}
			</if>
			<if test="condition.parentId !=null">
				AND PARENT_ID = #{condition.parentId}
			</if>
			<if test="condition.departmentName !=null">
				AND DEPARTMENT_NAME = #{condition.departmentName}
			</if>
		</where>
	</select>



	<!-- 统计子机构的个数 -->
	<select id="countSubDepartments" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select count(1) from PUB_DEPARTMENT where
		PARENT_ID=#{departmentId} and
		STATUS>=0
	</select>

	<select id="verifyUser" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT count(1) FROM PUB_USER T WHERE T.DEPARTMENT_ID =
		#{departmentId}
	</select>

	<!-- 删除一个机构 -->
	<update id="deleteByDepartmentId" parameterType="java.lang.String">
		update
		PUB_DEPARTMENT
		set STATUS=-1 where DEPARTMENT_ID=#{departmentId}
	</update>

</mapper>