<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdos.platform.base.widgetmanager.mapper.WidgetManagerMapper">
<sql id="Column_List">
WIDGET_ID
,WIDGET_NAME
,WIDGET_PATH
,OPERATOR_ID
,OPERATOR
,WIDGET_VERSION
,WIDGET_TYPE
,CREATE_TIME
,FILE_ID
</sql>
	<sql id="Where_Clause">
	<where>
    	<if test="condition.widgetName != null" >WIDGET_NAME  like CONCAT(CONCAT('%', #{condition.widgetName}), '%')</if>
    </where>
	 
	</sql>
	<select id="getById" resultType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO" parameterType="String">
		select <include refid="Column_List" />
    	from PUB_WIDGET_MANAGER where WIDGET_ID = #{widgetId}
	</select>

	<select id="count" resultType="int" parameterType="map">
		select COUNT(1)
    	from PUB_WIDGET_MANAGER
    	<include refid="Where_Clause" />
	</select>

	<select id="list" resultType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO" parameterType="map">
		select <include refid="Column_List" />
    	from PUB_WIDGET_MANAGER
    		<include refid="Where_Clause" /> order by CREATE_TIME desc
	</select>
	
	<!-- <select id="getWidgetType" resultType="String" parameterType="String">
		select WIDGET_TYPE
    	from PUB_WIDGET_MANAGER
    	where WIDGET_VERSION = #{widgetVersion}
	</select> -->
	
	<!--  <select id="getWidgetTypes" resultType="String" parameterType="String">
		 select WIDGET_TYPE from PUB_WIDGET_MANAGER group by WIDGET_TYPE 
	</select>-->
	
	<select id="getLastedOcxWidget" resultType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO" parameterType="String">
		<!-- SELECT * FROM  PUB_WIDGET_MANAGER where WIDGET_VERSION REGEXP (select max(substring_index(WIDGET_VERSION,'_',-1)) from PUB_WIDGET_MANAGER where WIDGET_TYPE = #{widgetType}) and WIDGET_TYPE = #{widgetType} -->
		<!--  SELECT * FROM PUB_WIDGET_MANAGER where WIDGET_TYPE = #{widgetType} ORDER BY CREATE_TIME DESC LIMIT 0,1-->
		SELECT *FROM PUB_WIDGET_MANAGER where CREATE_TIME IN (select max(CREATE_TIME) FROM PUB_WIDGET_MANAGER group by WIDGET_TYPE) AND WIDGET_TYPE = #{widgetType}
	</select>
	
	<!-- <select id="getLastedCommonWidget" resultType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO" parameterType="String">
		select *from PUB_WIDGET_MANAGER where WIDGET_VERSION = (select max(WIDGET_VERSION) from PUB_WIDGET_MANAGER where WIDGET_TYPE = #{widgetType})
	</select> -->
	<!--  <select id="getWidgetCount" resultType="int">
		SELECT COUNT(1) FROM PUB_WIDGET_MANAGER
	</select>-->
	<select id="getCountOfFileName" resultType="int">
		SELECT COUNT(1) FROM PUB_WIDGET_MANAGER WHERE WIDGET_NAME = #{widgetName}
	</select>
	
	<!-- <select id="getLastedWidgetTypeValue" resultType="String" parameterType="String">
		 select WIDGETTYPE from PUB_WIDGET_MANAGER ORDER BY WIDGET_TYPE DESC LIMIT 1; 
	</select> -->
	            
	<select id="validWidgetNameAndVersion" resultType="int">
		select COUNT(1)
    	from PUB_WIDGET_MANAGER
    	where WIDGET_VERSION = #{0} AND  WIDGET_TYPE= #{1}
	</select>
	
	<select id="getLastedWidgetManagerVOs" resultType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO">
	   select * from PUB_WIDGET_MANAGER where CREATE_TIME in (select max(CREATE_TIME) from PUB_WIDGET_MANAGER group by WIDGET_TYPE) order by CREATE_TIME desc
	    <!--  select *from (select * from PUB_OCX order by substring_index(OCX_VERSION,'_',-1)  desc) as a group by OCX_TYPE; -->
	</select>
	
	
<insert id="insert" parameterType="com.hdos.platform.base.widgetmanager.model.WidgetManagerVO">
insert into PUB_WIDGET_MANAGER (<include refid="Column_List" />)
values (
#{widgetId}
,#{widgetName}
,#{widgetPath}
,#{operatorId}
,#{operator}
,#{widgetVersion}
,#{widgetType}
,#{createTime}
,#{fileId}
)
</insert>
	
	
	<delete id="delete" parameterType="java.lang.String" >
		delete from PUB_WIDGET_MANAGER  where WIDGET_ID = #{widgetId}
	</delete>
	
</mapper>